<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PJuszczuk/src/strona2/zad2/Mediana.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="strona2.zad2.Mediana"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PJuszczuk"/>
</launchConfiguration>
